$color-palette: (
    pastel-green: #36453b,
    pastel-grey: #596869,
    beige2: #c2c1a5,
    cream: #e7dfd8,
    dark-white: #F3EFF5,
);

$p-font: 'NeueHaas', sans-serif;
$p-font2: 'NeueHaasLight', sans-serif;
$title-font: 'BaronNeue', sans-serif;
$nav-font: 'Quicksand', sans-serif;
$contact-font: 'NeueHaasLight', sans-serif;